/* .login-section {
    display: block;
} */


/* .logged-in-content {
    display: none;
} */


/*---------------------------- NORMALIZE ---------------------------*/
/*
  font-family: "Stack Sans Notch", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Inter", sans-serif;


*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.block {
    display: block;
}

.none {
    display: none;
}


/*---------------------------- COMMON STYLE ---------------------------*/
body {
    background-color: #d8d2ff3d;
    background-image:
        linear-gradient(#a69fd61d 1px, transparent 1px),
        linear-gradient(90deg, #a69fd61d 1px, transparent 1px);

    background-size: 32px 32px;
}

.section {
    padding-top: 70px;
}

.container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.block {
    display: block;
}

.end {
    justify-content: end;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.animate__animated {
    /* animation-iteration-count: infinite; */
    animation-duration: 1s;
}

.animate__headShake {
    animation-iteration-count: 2;
}

i {
    font-size: 30px;
}

/*============================= login part=====================================*/

.login-container {
    height: 350px;
    width: 500px;
    background-color: rgb(59 43 163 / 0.84);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-sizing: border-box;
}

.login-head {
    margin-top: 35px;
    color: white;
}

.login-head i {
    font-size: 55px;
}

.login-head span {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 30px;
}

.login-form {
    padding-top: 10px;
}

.login-form input {
    width: 280px;
    padding: 10px 37px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 0.78);
}

.login-form input:focus {
    outline: 2px solid rgb(255 255 255 / 0.78);
    border: none;
    background-color: #fff;
}

.login-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF;
    border: none;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login-form button:hover {
    transform: scale(1.02);
}

.login-form small {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

.name-pass {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    transform: translate(12px, 10px);
    color: rgb(89, 89, 89);
}

.user-name-pass input {
    position: relative;
}

.show-hide {
    position: absolute;
    z-index: 1;
    font-size: 24px;
    color: rgb(89, 89, 89);
    transform: translate(-38px, 10px);
}


/*================================== navigation ================================*/

.nav-container {

    justify-content: space-between;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    background: transparent;
    transition: padding 0.45s ease;
}

.navigation::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
}

.navigation.scrolled {
    padding: 5px 0;
    background: #c9c1ff80;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #7c94735f;
}

.navigation.scrolled::before {
    transform: translateY(0);
    opacity: 1;
}

.navigation.scrolled .logo,
.navigation..scrolled .menu {
    transform: scale(0.96);
}

.logo {
    width: 150px;
    align-items: center;
}

.logo span {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 25px;
    font-weight: 800;

}

.logo i {
    margin-right: 7px;
    font-size: 35px;
}

.menu li a {
    font-family: "Inter", sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin: 15px;
    display: block;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu li a:hover {
    background: #3B2BA3;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;

}

.menu li.active {
    background: #00fafaaf;
}


.end-items {
    width: 150px;
    justify-content: end;
}

.cart {
    padding: 10px 12px;
    border-radius: 50px;
    cursor: pointer;

    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cart i {
    padding-right: 8px;
    font-size: 25px;
    display: inline-block;
    transform: translateY(-1px);
}

.cart span {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.cart:hover {
    background: #3B2BA3;
    color: #fff;
    border-radius: 25px;
    padding: 10px 18px;
}

/* ===================================== heder section =============================== */
.heder-section {
    /*min-height: 100vh;*/
}

.profile-div {
    /*background-color: #00caca;*/
    height: 80px;
    margin-top: 20px;
}

.profile-div span {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    text-decoration: underline;
}

.profile-div h3 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 25px;
    padding-top: 10px;
}

.profile-image {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dashboard-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-div {
    background-color: #00caca;
    width: 100%;
    border-radius: 10px;
    /*display: flex;*/
    box-sizing: border-box;
    background-color: rgb(216 210 255 / 0.53);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

/*=====================================charts=======================================*/

.chart-container1 {
    width: 550px;
    height: 280px;
    padding: 20px;
}

.chart-container1 canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart-container2 {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: auto;
}

.chart-container2 canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart-container3 {
    width: 550px;
    height: 300px;
    padding: 20px;

}

.chart-container3 canvas {
    width: 100% !important;
    height: 100% !important;
}

.chart-container4 {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: auto;
}

.chart-container4 canvas {
    width: 100% !important;
    height: 100% !important;
}

/* ================================ footer section ================================== */

.footer-section {
    background-color: #3b2ba3;
    color: #fff;
}

.footer-container span {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 25px;
    display: block;
    padding-bottom: 15px;
}

.footer-container p {
    font-family: "Inter", sans-serif;
    display: block;
}

.footer-list {
    width: 250px;
    height: 100%;
}

.footer-container ul li {
    display: block;
    padding-bottom: 12px;
    font-family: "Inter", sans-serif;
    text-transform: capitalize;
}

.footer-container ul li a {
    color: #fff;
}

.line {
    border: 1px solid rgb(232, 227, 227);
    margin-top: 50px;
}

.ending-section span {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    display: block;
    padding: 20px 0px;
}