/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 28, 28, 0.772);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.modal__container {
    font-family: "Outfit", sans-serif;
    /* background-color: #ffffff; */
    padding: 30px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.941);
    backdrop-filter: blur(100px);
    border: 1px solid rgba(0, 81, 255, 0.47);

}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #0068ef;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    background: gainsboro;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    padding: 10px 14px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.modal__btn:focus,
.modal__btn:hover {
    border-radius: 15px;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #0068ef;
    color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}



/*===================================action bar======================= */
.students-action {
    height: 40px;
    align-items: end;
}

.search-bar {
    width: 300px;
}

.search-bar input {
    width: 100%;
    /* background-color: #53fcf3; */
    padding: 10px 15px 10px 35px;
    font-size: 15px;
    border: 1px solid gray;
    border-radius: 20px;
    color: black;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(128, 128, 128, 0.648);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

.search-bar svg {
    transform: translate(12px, 33px);
    color: rgb(82, 82, 82);
    width: 20px;
    height: 20px;
}

.add-new {
    height: 39px;
}

.add-new button {
    border-radius: 20px;
    background: #00fafaaf;
    border: 1px solid rgba(128, 128, 128, 0.648);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    padding: 7px 15px 9px 15px;
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.add-new svg {
    height: 20px;
    width: 20px;
    transform: translate(0px, 1px);
}

.add-new span {
    font-size: 15px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    display: inline-block;
    transform: translate(0px, -3px);
}

.add-new button:hover {
    border-radius: 10px;
    background: #0064fa;
    color: white;
    padding: 7px 17px 9px 17px;
}

/* =======================add new from============================= */
.preview img {
    display: block;
    width: 130px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
}

form.add-student-form .picker {
    display: none;
}

.add-student-form {}


form.add-student-form input {
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 10px 0px;
    width: 100%;
}

select {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    display: block;
    width: 100%;
}

/* =========================student table========================== */
.student-listing {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: gray;
}

table th {
    padding: 10px 0px;
}

table img {
    width: 45px;
    display: block;
    margin: 5px auto;
    border-radius: 50%;
}

table button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

table button svg {
    margin: 5px;
    height: 20px;
    width: 20px;
}

table button:hover {
    background: #0064fa;
    border-radius: 5px;
    color: white;
}

tbody tr {
    transition: background 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

tbody tr:hover {
    background: #00fafaaf;
}