/* -------------------------common------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

body {
    font-family: "Outfit", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

li.active a {
    color: #000;
}

a {
    text-decoration: none;
    color: #343333;
    display: flex;
    gap: 10px;
}

/* ---------------------background & container-------------------- */

.section {
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(360deg, #ffffff 0%, #d2fffc 100%);
}

/* ------------------------------side panel-------------------------- */
.side-panel {
    width: 20%;
    margin: 8px 0px 8px 8px;
    border-radius: 10px;
    padding: 35px;
    box-sizing: border-box;
}

.author {
    height: 100px;
    width: 100px;
    text-align: center;
    margin: 0px auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile span {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.menu svg {
    height: 20px;
    width: 20px;
}

.menu li {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
    color: #666;
    transition: .3s;
}

li.active {
    background: #00fafaaf;
}

.menu li:hover {
    background: #78e7e76d;
}

/* -------------------------------main content------------------------ */

.main-content {
    width: 85%;
    padding: 20px 35px;
    margin: 5px;
    border-radius: 10px;
    background: rgba(224, 223, 223, 0.315);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgb(225, 215, 215);
}



.top-bar {
    font-family: "Stack Sans Notch", sans-serif;
    align-items: center;
    margin-bottom: 40px;
    color: black;
}

.top-bar p {
    font-family: "Outfit", sans-serif;
    color: #666;
    margin-top: 8px;
}

.options svg {
    height: 20px;
    width: 20px;
    display: block;
}

.options li {
    align-items: center;
    display: flex;
    margin-left: 10px;
    padding: 10px 10px;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    gap: 5px;
    transition: .3s;
}

.options li:hover {
    background: #00fafaaf;
}