/* -------------------------common------------------------ */

* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}




/* ---------------------background & container-------------------- */
.section {
    min-height: 100vh;
    background-color:
        #19916b;

    background-image:
        radial-gradient(#010101e4 1px, transparent 1px);

    background-size: 25px 25px;
}

.container {
    width: 50%;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(128, 127, 127, 0.132);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(225, 215, 215, 0.2);

    box-shadow:
        0 10px 40px rgba(0, 0, 0, .25);

    color: rgb(0, 0, 0);

}

/* ------------------------------side-thumb------------------------- */


/* ------------------------------form----------------------------------- */


.title {
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}


.form-group {
    width: 100%;
}

.form-group.name {
    display: flex;
    gap: 10px;
    width: 100%;
}

.form-group input {
    width: 100%;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background: #eae9e939;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-group input:focus {
    outline: none;
    background: #ffffff8b;
    box-shadow: 0 0 8px rgba(1, 75, 235, 0.584);
}


.submit input {
    font-family: "Stack Sans Notch", sans-serif;
    padding: 14px;
    font-size: 16px;
    font-weight: 450;
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submit input:hover {
    border-radius: 30px;
    transform: scale(0.98);
}

/* --------------------- other sign in options--------------------- */

.other-options span {
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

.other-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.other-options::before,
.other-options::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #171717;
}

.other-option-button {
    width: 100%;
    gap: 10px;
    display: flex;
}

.other-option-button button {
    background-color: #171717d3;
    font-family: "Stack Sans Notch", sans-serif;
    color: white;
    padding: 14px;
    font-size: 16px;
    font-weight: 450;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.other-option-button button:hover {
    border-radius: 30px;
    transform: scale(0.97);
}

/* ------------------------------------login------------------------------------- */
.login-area {
    width: calc(95% - 16px);
    height: calc(100%-16px);
    margin: auto;
    padding: 50px 60px;
    box-sizing: border-box;
    border-radius: 10px;
}

.login-button input {
    margin-top: 20px;
    background-color: #171717d3;
    font-family: "Stack Sans Notch", sans-serif;
    color: white;
    padding: 14px;
    font-size: 16px;
    font-weight: 450;
    text-transform: uppercase;
    width: 100%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login-button input:hover {
    border-radius: 30px;
    transform: scale(0.98);
}

#LoginError {
    font-family: "Outfit", sans-serif;
    color: rgb(255, 100, 100);
    font-size: 17px;
}

/* -----------------------------------dashboard--------------------------- */

#dashbord h3 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 30px;
    font-weight: 300;
}

#dashbord p {
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0px;
    display: block;
}

.password {
    position: relative;
}

.toggle {
    position: absolute;
    right: 40px;
    top: 12px;
    cursor: pointer;
}

.toggle div {
    position: absolute;
}

.toggle div svg {
    height: 23px;
    width: 23px;
    color: #616060;
}

.toggle .show {
    display: block;
}

.toggle .hide {
    display: none;
}


.error {
    color: red;
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}


/* font */
/* font-family: "Outfit",sans-serif;
font-family: "Splash",cursive;
font-family: "Stack Sans Notch",sans-serif; */