/*---------------------------- NORMALIZE ---------------------------*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
}


/*---------------------------- COMMON STYLE ---------------------------*/


.section {
    padding: 130px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.end {
    justify-content: end;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.container.header-container {
    width: 90%;
}

.text-center {
    text-align: center;
}

.section-title {
    font-family: "Gloock", serif;
    font-size: 60px;
    letter-spacing: 3px;
}

.animate__animated.animate__headShake {
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

/*---------------------------- HEADER SECTION ---------------------------*/

#header {
    padding: 90px 0px;
    background: url(../img/background.png) center center / cover;
    position: relative;
    z-index: 1;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    padding: 30px 0;
    background: transparent;

    transition: padding .45s ease;
}

/* Create the orange background separately */
nav::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #e25d0a;

    transform: translateY(-100%);
    opacity: 0;

    transition:
        transform .45s ease,
        opacity .45s ease;

    z-index: -1;
}

/* Menu animation */
.logo,
.menu {
    transition:
        transform .45s ease,
        opacity .45s ease;
}

#header.scrolled nav {
    padding: 5px 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

#header.scrolled nav::before {
    transform: translateY(0);
    opacity: 1;
}

#header.scrolled .logo,
#header.scrolled .menu {
    transform: scale(0.96);
}

.black-bar {
    height: 100%;
    width: 100%;
    background-color: rgb(14, 11, 11);
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.animation-start .black-bar {
    width: 40%;
}

.logo {
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.logo svg {
    height: 35px;
    width: 35px;
    display: block;
    padding-right: 10px;
}

.menu {
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
}

.menu li a {
    color: #fff;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    display: block;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu li a:hover {
    background: #ff9e61;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
}

.search {
    padding: 10px;
    font-weight: 400;
    color: #fff;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.search svg {
    height: 22px;
    width: 22px;
    display: block;
    padding-right: 15px;
}

.search:hover {
    background: #ff9e61;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
}

.intro {
    font-family: "Gloock", serif;
    padding-top: 100px;
}

.introduction {
    font-size: 110px;
}

.we {
    color: rgb(255, 140, 0);

}

.creative-line {
    display: flex;
    gap: 15px;
    align-items: center;
}

.creative {
    color: rgb(255, 140, 0);
}

.things {
    color: #fff;
}

.other-context {
    margin-top: 40px;
}

.other-context p {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.other-context button {
    background-color: rgb(255, 140, 0);
    border: none;
    padding: 20px 30px;
    margin-top: 40px;
    font-family: "Unbounded", sans-serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
}

.address div {
    width: calc(50% - 60px);
    padding: 30px 0px;
    margin: 30px 30px 0px 0px;
    background-color: #291801;
    font-family: "Gloock", serif;
    color: #fff;
    letter-spacing: 1.2px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
}

.black-bar-bottom {
    height: 150px;
    width: 100%;
    background-color: rgb(14, 11, 11);
    opacity: 1;
    position: absolute;
    z-index: -1;
}

/*---------------- MARQUEE SECTION -----------------*/
#marquee-section {
    background-color: #e25d0a;
    color: #fff;
    font-family: "Gloock", serif;
    font-size: 50px;
    padding: 25px 10px;
    margin-top: 60px;
}

/*----------------- OFFER SICTION ------------------*/
.offer-list {
    font-family: "Unbounded", sans-serif;
}

.single-offer {
    background-color: bisque;
    width: calc(50% - 30px);
    padding: 40px;
    margin: 30px 15px 0px 15px;
    box-sizing: border-box;
    border-radius: 40px;
    transition: 300ms linear;
}

.single-offer:hover {
    scale: 1.02;
}

.single-offer svg {
    height: 40px;
    width: 40px;
    padding-bottom: 40px;
}

.single-offer h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.single-offer p {
    font-size: 18px;
    padding-bottom: 20px;
}

.single-offer a {
    font-size: 15px;
    color: black;
    background: #ff9e61;
    padding: 10px 18px;
    border-radius: 20px;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.single-offer a:hover {
    padding: 13px 21px;

}

/*----------------- SERVICE RANGE -----------------------*/

#service-range {
    background-color: #e25d0a;
    color: #fff;
    position: relative;
}

.range-content {
    width: 40%;
    float: right;
}

.range-content-title {
    font-family: "Gloock", serif;
    font-size: 60px;
}

.range-content p {
    font-family: "Gloock", serif;
    font-size: 25px;
    letter-spacing: 0.5px;
    padding: 30px 0px;
}

.side-thumb {
    height: 93%;
    width: 50%;
    position: absolute;
    top: -70px;
    left: 20px;
}

.side-thumb img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.range-content ul li span {
    font-size: 18px;
    font-family: "Unbounded", sans-serif;
    padding: 10px 0px;
    display: block;
}

.range-content .bar {
    height: 2px;
    border: 1.5px solid #fff;
    border-radius: 3px;
}

/*-------------------- carousel ------------------*/

.owl-carousel {
    width: 100%;
    margin: 40px 0;
}

.owl-carousel .item {
    border-radius: 30px;
    overflow: hidden;
}

.owl-carousel .item img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
}

/* -------------- yearly list--------------- */
.year-list {
    padding: 60px;
}
.year-list div {
    margin: 5px 0px;
    padding: 10px 0px;
    box-sizing: border-box;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.year-list div:hover {
    padding: 10px 15px;
}

.year-list-1 {
    border-top: 3px black solid;
}

.year-list-2 {
    border-bottom: 3px black solid;

}

.years {
    width: 20%;
    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.short-note {
    width: 20%;
    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    text-align: end;
}

.years-title {
    width: 60%;
}

.years-title h3 {
    font-family: "Unbounded", sans-serif;
    font-size: 24px;
    display: block;
    padding-bottom: 10px;
}

.years-title p {
    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    display: block;
}

/* ----------------- videos --------------- */

#videos-section {
    position: relative;
    padding: 0;
}
.videos{
    width: calc(100% - 20px);
    height: 700px;
    background: url(../day003/assets/img/background2.png) centet center / cover;
    background-color: #ff9e61;
    border-radius: 25px;
    margin: 0 10px;

}
.play-button {
    width: 150px;
    height: 150px;
    background-color: #e25d0a;
    border-radius: 50%;

    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.play-button svg{
    height: 50px;
    width: 50px;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.play-button:hover svg{
    height: 60px;
    width: 60px;
}
.play-button:hover{
    height: 140px;
    width: 140px;
    background-color: #ff3c00;
}